# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# asset ignore
**/[Aa]ssets/Suriyun/
**/[Aa]ssets/polyperfect/
**/[Aa]ssets/Mnostva_Art/
**/[Aa]ssets/PolyArt/
**/[Aa]ssets/PolygonNatureBiomes/
**/[Aa]ssets/StickerStyle/
**/[Aa]ssets/Puxxe_Studio/
**/[Aa]ssets/Fantasy RPG Icons Pack/
**/[Aa]ssets/4000_Fantasy_Icons/
**/[Aa]ssets/RainbowArt/
**/[Aa]ssets/Airplane/
**/[Aa]ssets/Ambiences_Sounds/
**/[Aa]ssets/ArcticPack/
**/[Aa]ssets/ChemLabEquipment/
**/[Aa]ssets/CreatureCards/
**/[Aa]ssets/WaveCaveGames/
**/[Aa]ssets/environment_3/
**/[Aa]ssets/Fantasy City & Castle (Low Poly)/
**/[Aa]ssets/Fantasy_Map_Creator/
**/[Aa]ssets/Exoa/
**/[Aa]ssets/Game_UI_03/
**/[Aa]ssets/GUI Kit The Stone/
**/[Aa]ssets/HYPER CASUAL CHARACTERS VOLUME 1/
**/[Aa]ssets/Inked Adventure Items/
**/[Aa]ssets/ItemsCards/
**/[Aa]ssets/LabAssets/
**/[Aa]ssets/Laboratory_Interior/
**/[Aa]ssets/LowPolyInterior2/
**/[Aa]ssets/LowPolyMegapolis/
**/[Aa]ssets/LOW POLY WORLD - NORTH/
**/[Aa]ssets/Lowpoly Aircraft with interior/
**/[Aa]ssets/LowPolyAntarcticStation/
**/[Aa]ssets/LowpolyStyle/
**/[Aa]ssets/Middle Age - medieval Action Music Pack (vs.2.0)/
**/[Aa]ssets/NecromancerIcons/
**/[Aa]ssets/PolygonNature/
**/[Aa]ssets/PolygonParticleFX/
**/[Aa]ssets/BOXOPHOBIC/
**/[Aa]ssets/QA_Books/
**/[Aa]ssets/quest_journal/
**/[Aa]ssets/Quirky Series Vol.2 [v1.3]/
**/[Aa]ssets/3dizart Books Pack/
**/[Aa]ssets/SimpleForestAnimal/
**/[Aa]ssets/SpellBookMegapack/
**/[Aa]ssets/SF Nature/
**/[Aa]ssets/TabletopTerrain/
**/[Aa]ssets/TrophyCups/
**/[Aa]ssets/WitchCraftIcons/
**/[Aa]ssets/Gamemaster Audio - Fun Casual Sounds/
**/[Aa]ssets/Isometric Pack 3d - Village/
**/[Aa]ssets/Low Poly Animated Animals/
**/[Aa]ssets/Low Poly Medieval Kit/
**/[Aa]ssets/PolygonFantasyKingdom/
**/[Aa]ssets/PolygonMiniFantasyCharacters/
**/[Aa]ssets/PolygonSamurai/
**/[Aa]ssets/RPG Character Animation Pack/
**/[Aa]ssets/SimpleFarmAnimals/
**/[Aa]ssets/Top-Down Interiors/
**/[Aa]ssets/UltimateCleanGUIPack/
**/[Aa]ssets/Village and Town Music Pack/
**/[Aa]ssets/Wooden_UI/
**/[Aa]ssets/Survival_Animations/
**/[Aa]ssets/PolygonFarm/
**/[Aa]ssets/Enchanted World Music Pack/
**/[Aa]ssets/Free Fantasy Adventure Music Pack/
**/[Aa]ssets/Forest Pack/
**/[Aa]ssets/SwordSoundPack/
**/[Aa]ssets/Low Poly Medieval Kit/
**/[Aa]ssets/gui_flat/
**/[Aa]ssets/Collection/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
