# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# asset ignore
**/[Aa]ssets/100 Eggs Pack Cute Series/
**/[Aa]ssets/StickerStyle/
**/[Aa]ssets/2000 Game Sound FX/
**/[Aa]ssets/Puxxe_Studio/
**/[Aa]ssets/SPUM/
**/[Aa]ssets/SPUM/
**/[Aa]ssets/2d,3d game basic essential FX/
**/[Aa]ssets/Fantasy RPG Icons Pack/
**/[Aa]ssets/Puxxe_Studio/
**/[Aa]ssets/4000_Fantasy_Icons/
**/[Aa]ssets/RainbowArt/
**/[Aa]ssets/Pack73Butterflies/
**/[Aa]ssets/Casual Music Pack/
**/[Aa]ssets/ARPG Effects/
**/[Aa]ssets/ACRMP/
**/[Aa]ssets/Airplane/
**/[Aa]ssets/Allsky/
**/[Aa]ssets/Ambiences_Sounds/
**/[Aa]ssets/ArcticPack/
**/[Aa]ssets/AnthicCreatures/
**/[Aa]ssets/Atmospheric_Fog/
**/[Aa]ssets/TirgamesAssets/
**/[Aa]ssets/Tutanhomon/
**/[Aa]ssets/Basic UI Sound Effects/
**/[Aa]ssets/FX_BigSmokeEffectsA/
**/[Aa]ssets/Plant_SetA/
**/[Aa]ssets/JMO Assets/
**/[Aa]ssets/GUIPackCartoon/
**/[Aa]ssets/Cartoon Items Pack Vol1/
**/[Aa]ssets/CartoonTown-LowPolyAssets/
**/[Aa]ssets/Cartoon Vertex Color Shader/
**/[Aa]ssets/Casual Game Music Pack 3 [Seasons]/
**/[Aa]ssets/Casual music pack/
**/[Aa]ssets/Casual Music Pack Vol2/
**/[Aa]ssets/Supercyan/
**/[Aa]ssets/characters_5_02/
**/[Aa]ssets/ChemLabEquipment/
**/[Aa]ssets/Christmas Music Pack 2014/
**/[Aa]ssets/Voliere/
**/[Aa]ssets/Clean Vector Icons/
**/[Aa]ssets/Confetti FX/
**/[Aa]ssets/cooking wav 2448/
**/[Aa]ssets/CreatureCards/
**/[Aa]ssets/Cute Astronauts/
**/[Aa]ssets/Cute Humanoid Animals/
**/[Aa]ssets/Suriyun/
**/[Aa]ssets/Suriyun/
**/[Aa]ssets/Cyberleaf Music - Dark Fantasy/
**/[Aa]ssets/Digestive System/
**/[Aa]ssets/Suriyun/
**/[Aa]ssets/Mask/
**/[Aa]ssets/WaveCaveGames/
**/[Aa]ssets/Enchanted World Music Pack/
**/[Aa]ssets/environment_3/
**/[Aa]ssets/Epic_Nature_Loops/
**/[Aa]ssets/Escape(Game Kit)/
**/[Aa]ssets/Excavation Tools Sound Effects/
**/[Aa]ssets/Falling_Paper_VFX/
**/[Aa]ssets/Fantasy City & Castle (Low Poly)/
**/[Aa]ssets/Fantasy_Map_Creator/
**/[Aa]ssets/Farm Animals wav 2448/
**/[Aa]ssets/TGRAM/
**/[Aa]ssets/Assets/
**/[Aa]ssets/Exoa/
**/[Aa]ssets/Plugins/
**/[Aa]ssets/Footstep Sounds/
**/[Aa]ssets/Forrest Animals wav 2448/
**/[Aa]ssets/CasualGameSounds/
**/[Aa]ssets/Free Fantasy Adventure Music Pack/
**/[Aa]ssets/FrostwindMaze/
**/[Aa]ssets/Gamemaster Audio - Fun Casual Sounds/
**/[Aa]ssets/Furniture_1/
**/[Aa]ssets/Game_UI_03/
**/[Aa]ssets/Goodmeshstudio/
**/[Aa]ssets/Garden Flowers and Herbs/
**/[Aa]ssets/Gardening Pack/
**/[Aa]ssets/GUI Kit - Mono Round/
**/[Aa]ssets/GUI Kit The Stone/
**/[Aa]ssets/gui_flat/
**/[Aa]ssets/Quirky Series/
**/[Aa]ssets/HYPER CASUAL CHARACTERS VOLUME 1/
**/[Aa]ssets/KriptoFX/
**/[Aa]ssets/In The Rain (Dramatic Ambient Background Music)/
**/[Aa]ssets/Inked Adventure Items/
**/[Aa]ssets/Interface and Item Sounds/
**/[Aa]ssets/Islands - Stylized Low Poly/
**/[Aa]ssets/Isometric Pack 3d - Village/
**/[Aa]ssets/ItemsCards/
**/[Aa]ssets/LabAssets/
**/[Aa]ssets/Laboratory_Interior/
**/[Aa]ssets/Light RPG MUsic Pack 3 \[Ambiance\]/
**/[Aa]ssets/ANIMALS FULL PACK/
**/[Aa]ssets/Low Poly Animated Animals/
**/[Aa]ssets/polyperfect/
**/[Aa]ssets/LowPolyAssetBundle/
**/[Aa]ssets/LowPolyBuildingsPack/
**/[Aa]ssets/Palmov Island/
**/[Aa]ssets/IndieCat Animals/
**/[Aa]ssets/LPChristmasPack/
**/[Aa]ssets/Mnostva_Art/
**/[Aa]ssets/sky/
**/[Aa]ssets/Low Poly Environment Bundle/
**/[Aa]ssets/Low Poly Garbage Recycling Assets/
**/[Aa]ssets/LowPolyInterior2/
**/[Aa]ssets/VisionarySpaces/
**/[Aa]ssets/Low Poly Medieval Kit/
**/[Aa]ssets/LowPolyMegapolis/
**/[Aa]ssets/LMHPOLY/
**/[Aa]ssets/Low Poly PPE/
**/[Aa]ssets/Mnostva_Art/
**/[Aa]ssets/Mnostva_Art/
**/[Aa]ssets/Mnostva_Art/
**/[Aa]ssets/polyperfect/
**/[Aa]ssets/LOW POLY WORLD - NORTH/
**/[Aa]ssets/GreekHeroes/
**/[Aa]ssets/LowPolyOlympianGods/
**/[Aa]ssets/Lowpoly Aircraft with interior/
**/[Aa]ssets/LowPolyAntarcticStation/
**/[Aa]ssets/PolyArt/
**/[Aa]ssets/FXIFIED/
**/[Aa]ssets/Lowpoly Halloween Pack/
**/[Aa]ssets/LowpolyStyle/
**/[Aa]ssets/medical_staff/
**/[Aa]ssets/Medicine_and_Health/
**/[Aa]ssets/Middle Age - medieval Action Music Pack (vs.2.0)/
**/[Aa]ssets/Suriyun/
**/[Aa]ssets/Moon spacesuit/
**/[Aa]ssets/NecromancerIcons/
**/[Aa]ssets/PE2D/
**/[Aa]ssets/Office Props Pack PBR/
**/[Aa]ssets/Office Supplies Low Poly/
**/[Aa]ssets/Papper Items/
**/[Aa]ssets/PartyMonsterRumblePBR/
**/[Aa]ssets/Malbers Animations/
**/[Aa]ssets/PolyArt/
**/[Aa]ssets/PolygonAncientEmpire/
**/[Aa]ssets/PolygonCity/
**/[Aa]ssets/PolygonFantasyCharacters/
**/[Aa]ssets/PolygonFantasyKingdom/
**/[Aa]ssets/PolygonHorrorMansion/
**/[Aa]ssets/PolygonNatureBiomes/
**/[Aa]ssets/PolygonMiniFantasyCharacters/
**/[Aa]ssets/PolygonNature/
**/[Aa]ssets/PolygonParticleFX/
**/[Aa]ssets/PolygonNatureBiomes/
**/[Aa]ssets/PolygonNatureBiomes/
**/[Aa]ssets/PolygonFarm/
**/[Aa]ssets/PolygonSamurai/
**/[Aa]ssets/BOXOPHOBIC/
**/[Aa]ssets/Gamemaster Audio - Pro Sound Collection/
**/[Aa]ssets/Suriyun/
**/[Aa]ssets/QA_Books/
**/[Aa]ssets/quest_journal/
**/[Aa]ssets/Quirky Series Vol.2 [v1.3]/
**/[Aa]ssets/RestClient/
**/[Aa]ssets/Robot_Voices_Assets/
**/[Aa]ssets/Romans Pack - Low Poly (HA)/
**/[Aa]ssets/RPG Character Animation Pack/
**/[Aa]ssets/RPG_Fishing_Icons/
**/[Aa]ssets/GamePoly/
**/[Aa]ssets/KD_CrucibleSet/
**/[Aa]ssets/3dizart Books Pack/
**/[Aa]ssets/SimpleForestAnimal/
**/[Aa]ssets/Forest Pack/
**/[Aa]ssets/SimpleFarmAnimals/
**/[Aa]ssets/SolarSystem/
**/[Aa]ssets/space_shatl_Echo_TWO/
**/[Aa]ssets/SpellBookMegapack/
**/[Aa]ssets/CasualFantasy/
**/[Aa]ssets/Starfield3D/
**/[Aa]ssets/SF Nature/
**/[Aa]ssets/Gamester/
**/[Aa]ssets/ThreeDragons/
**/[Aa]ssets/StylizedWater2/
**/[Aa]ssets/Survival_Animations/
**/[Aa]ssets/SwordSoundPack/
**/[Aa]ssets/TabletopTerrain/
**/[Aa]ssets/Fanepeter/
**/[Aa]ssets/Toon Fantasy Nature/
**/[Aa]ssets/Toon Smoke VFX/
**/[Aa]ssets/Top-Down Interiors/
**/[Aa]ssets/Town Music Pack Volume 1/
**/[Aa]ssets/Town Music Pack Volume 2/
**/[Aa]ssets/TrophyCups/
**/[Aa]ssets/UltimateCleanGUIPack/
**/[Aa]ssets/Village and Town Music Pack/
**/[Aa]ssets/Candlestick Studio/
**/[Aa]ssets/Asset_Store/
**/[Aa]ssets/WitchCraftIcons/
**/[Aa]ssets/Wolf Cute Series/
**/[Aa]ssets/Wooden_UI/
**/[Aa]ssets/Quirky Series/
**/[Aa]ssets/YughuesFreeMetalMaterials/
**/[Aa]ssets/Standard Assets/
**/[Aa]ssets/Polytope Studio/
**/[Aa]ssets/LowPolyInterior2/

**/[Aa]ssets/skybox_earth.jpg
**/[Aa]ssets/Spaceship Echo TWO Demo scene.unity
**/[Aa]ssets/Spaceship Echo TWO Demo sceneSettings.lighting

**/[Aa]ssets/Low Poly Modular Terrain Pack/
**/[Aa]ssets/NatureManufacture Assets/

**/[Aa]ssets/Collection/


# asset meta ignore
**/[Aa]ssets/Suriyun.meta
**/[Aa]ssets/polyperfect.meta
**/[Aa]ssets/Mnostva_Art.meta
**/[Aa]ssets/PolyArt.meta
**/[Aa]ssets/PolygonNatureBiomes.meta
**/[Aa]ssets/StickerStyle.meta
**/[Aa]ssets/Puxxe_Studio.meta
**/[Aa]ssets/Fantasy RPG Icons Pack.meta
**/[Aa]ssets/4000_Fantasy_Icons.meta
**/[Aa]ssets/RainbowArt.meta
**/[Aa]ssets/Airplane.meta
**/[Aa]ssets/Ambiences_Sounds.meta
**/[Aa]ssets/ArcticPack.meta
**/[Aa]ssets/ChemLabEquipment.meta
**/[Aa]ssets/CreatureCards.meta
**/[Aa]ssets/WaveCaveGames.meta
**/[Aa]ssets/environment_3.meta
**/[Aa]ssets/Fantasy City & Castle (Low Poly).meta
**/[Aa]ssets/Fantasy_Map_Creator.meta
**/[Aa]ssets/Exoa.meta
**/[Aa]ssets/Game_UI_03.meta
**/[Aa]ssets/GUI Kit The Stone.meta
**/[Aa]ssets/HYPER CASUAL CHARACTERS VOLUME 1.meta
**/[Aa]ssets/Inked Adventure Items.meta
**/[Aa]ssets/ItemsCards.meta
**/[Aa]ssets/LabAssets.meta
**/[Aa]ssets/Laboratory_Interior.meta
**/[Aa]ssets/LowPolyInterior2.meta
**/[Aa]ssets/LowPolyMegapolis.meta
**/[Aa]ssets/LOW POLY WORLD - NORTH.meta
**/[Aa]ssets/Lowpoly Aircraft with interior.meta
**/[Aa]ssets/LowPolyAntarcticStation.meta
**/[Aa]ssets/LowpolyStyle.meta
**/[Aa]ssets/Middle Age - medieval Action Music Pack (vs.2.0).meta
**/[Aa]ssets/NecromancerIcons.meta
**/[Aa]ssets/PolygonNature.meta
**/[Aa]ssets/PolygonParticleFX.meta
**/[Aa]ssets/BOXOPHOBIC.meta
**/[Aa]ssets/QA_Books.meta
**/[Aa]ssets/quest_journal.meta
**/[Aa]ssets/Quirky Series Vol.2 [v1.3].meta
**/[Aa]ssets/3dizart Books Pack.meta
**/[Aa]ssets/SimpleForestAnimal.meta
**/[Aa]ssets/SpellBookMegapack.meta
**/[Aa]ssets/SF Nature.meta
**/[Aa]ssets/TabletopTerrain.meta
**/[Aa]ssets/TrophyCups.meta
**/[Aa]ssets/WitchCraftIcons.meta
**/[Aa]ssets/Gamemaster Audio - Fun Casual Sounds.meta
**/[Aa]ssets/Isometric Pack 3d - Village.meta
**/[Aa]ssets/Low Poly Animated Animals.meta
**/[Aa]ssets/Low Poly Medieval Kit.meta
**/[Aa]ssets/PolygonFantasyKingdom.meta
**/[Aa]ssets/PolygonMiniFantasyCharacters.meta
**/[Aa]ssets/PolygonSamurai.meta
**/[Aa]ssets/RPG Character Animation Pack.meta
**/[Aa]ssets/SimpleFarmAnimals.meta
**/[Aa]ssets/Top-Down Interiors.meta
**/[Aa]ssets/UltimateCleanGUIPack.meta
**/[Aa]ssets/Village and Town Music Pack.meta
**/[Aa]ssets/Wooden_UI.meta
**/[Aa]ssets/Survival_Animations.meta
**/[Aa]ssets/PolygonFarm.meta
**/[Aa]ssets/Enchanted World Music Pack.meta
**/[Aa]ssets/Free Fantasy Adventure Music Pack.meta
**/[Aa]ssets/Forest Pack.meta
**/[Aa]ssets/SwordSoundPack.meta
**/[Aa]ssets/Low Poly Medieval Kit.meta
**/[Aa]ssets/gui_flat.meta

**/[Aa]ssets/Low Poly Modular Terrain Pack.meta
**/[Aa]ssets/NatureManufacture Assets.meta

**/[Aa]ssets/Collection.meta

# save file ignore
**/saveFile.dat
**/jsonSave.json

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
